Source: indicator-weather
Section: python
Priority: extra
Build-Depends: cdbs (>= 0.4.90-1~),
 debhelper (>= 6),
 python (>= 2.6.6-3~),
 gobject-introspection,
 python-distutils-extra (>= 2.10)
Maintainer: Vadim Rutkovsky <roignac@gmail.com>
Standards-Version: 3.8.3

Package: indicator-weather
Architecture: all
Depends: ${misc:Depends},
 ${python:Depends},
 libglib2.0-bin,
 python-appindicator,
 python-notify,
 python-gobject,
 python-gtk2,
 python-gconf,
 python-pywapi
Recommends: python-apport
Description: A weather indicator for Ubuntu's Indicator Applet
 A weather indicator that displays information for one or multiple places
 in the world
