Package: indicator-china-weather
Version: 1.0.5-0~58~raring1
Architecture: amd64
Maintainer: Ubuntu Kylin Team <ubuntukylin-members@list.launchpad.net>
Installed-Size: 570
Depends: gir1.2-glib-2.0, gnome-icon-theme, python-appindicator, python-gobject, python-gtk2, dconf-gsettings-backend | gsettings-backend
Recommends: python-apport
Section: python
Priority: extra
Homepage: https://launchpad.net/indicator-china-weather
Description: indicator that displays China weather information
 Indicator-China-Weather displays information for one place, and you
 can change it.
